<?php

return [
    'auth' => [
        'users' => [
            'admin' => 'password',
        ],
    ],

    'pdo' => [
        'dsn' => 'mysql:host=127.0.0.1;dbname=app;charset=utf8',
        'username' => 'username',
        'password' => 'password',
    ],
];